.display-infor-container {

    .red {
        color: rgb(232, 165, 165);
    }

    .green {
        color: green;
    }
}

.display-img {
    height: 400px;
    width: 400px;
    align-items: center;
    margin-left: 35%;

}