body {
  padding: 0px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media(min-width: 1350px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 1920px !important;
  }
}

.app-container {
  .header-container {
    button.btn-login {
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-right: 15px;
      padding: 0px 15px;
      background-color: rgba($color: #000000, $alpha: 0);
      height: 40px;

      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.8);
        color: white;
      }

    }

    button.btn-signup {
      border-radius: 5px;
      background: #656565;
      color: white;
      padding: 0px 15px;
      height: 40px;

      &:hover {
        background: black;
      }
    }


    .navbar {
      padding-top: 20px;
      z-index: 10;
      // opacity: 0.9;
      background-color: rgba(0, 0, 0, 0) !important;

      .nav-link {
        &.active {
          color: rgb(68, 114, 201);
        }
      }
    }
  }

  .homePage-container {
    .homepage-content {
      position: relative;
      padding: 0px 100px;
      margin-top: 60px;
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .title-1 {
        font-size: 45px;
        font-weight: 600;
      }

      .title-2 {
        font-size: 20px;
      }

      .title-3 {
        font-size: 20px;
        border-radius: 4px;
        padding: 0px 15px;
        height: 40px;
        background: #303030;
        color: white;
        border: none;

        &:hover {
          background: black;
        }
      }

    }


  }
}

video {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: fit-content;
  // height: 100vh;

}

// .homePage-container {
//   z-index: 1;
// }